<h1>Lista de Productos</h1>

<div>
    {{#each products}}
    <li>
        <strong>Nombre: </strong>{{this.title}}
        
        <strong>Categoría: </strong>{{this.category}}
        <strong>Descripción: </strong>{{this.description}}
        <strong>Imagen: </strong>{{this.thumbnail}}
        <strong>Codigo: </strong>{{this.code}}
        <strong>Stock: </strong>{{this.stock}}
        <strong>Estado: </strong>{{this.status}}
    </li>
    <button onclick="agregarAlCarrito('{{this.code}}')">Agregar al carrito</button>
    {{/each}}
</div>
<div class="text-center">
    {{#if hasPrevPage}}
        <a href="/views/products?numPage={{prevPage}}" class="btn btn-outline-dark">Anterior</a>
    {{/if}}
    {{#if hasNextPage}}
        <a href="/views/products?numPage={{nextPage}}" class="btn btn-outline-dark">Siguiente</a>
    {{/if}}
</div>
