<div>
    <h1>Hola {{ name }}</h1>
    {{#if isAdmin}}
        {{#each products}}
            <div>
                <p>Nombre del Producto {{ this.name }}</p>
                <p>Precio del Producto {{ this.price }}</p>
                <p>Stock del Producto {{ this.stock }}</p>
                <p>Descripcion del Producto {{ this.description }}</p>
                <hr>
            </div>
        {{/each}}
    {{ else }}
        <h2>Ud no es Admin no puede ver los productos</h2>
    {{/if}}
</div>